.form{
    background-color: lightcoral;
    color: black;
}

#sumbit{
    text-align: left;
    border: none;
    text-decoration: none;
    cursor: pointer;
  }

  input {
    width: 100%;
  }

  ion-content{

    --ion-background-color:#fccf0a;
  }
  