<ion-header>
  <ion-toolbar>
    <ion-title>Booking Page</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="Back"></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<app-header></app-header>

<div id="agent">
  <h4>Agent Id:  {{data}}</h4>
</div><br>


<form class="form"  [formGroup]="formData" (ngSubmit)="onSubmit()">
  
<ion-item>
  <ion-label>Date: </ion-label>
  <ion-input formControlName="setDate" type="date"></ion-input>
  <br><br />
</ion-item>

<ion-item>
  <ion-label>Time: </ion-label>
  <ion-input formControlName="setTime" type="time"></ion-input>
  <br><br />
</ion-item>

<ion-item>
  <ion-label>OHIP: </ion-label>
  <ion-input formControlName="setOhip" type="tel" placeholder="Enter your OHIP number"></ion-input>
  <br><br />
</ion-item>

<ion-item>
  <ion-label>Email: </ion-label>
  <ion-input formControlName="setEmail" type="email" placeholder="Enter your Email" ></ion-input>
  <br><br />
</ion-item>

<ion-item>
  <ion-label>Phone: </ion-label>
  <ion-input formControlName="setPhone" type="tel" placeholder="Enter your Phone Number"></ion-input>
</ion-item>

<ion-button type="submit" expand="block" routerLink="/"> Add Appointment</ion-button>

</form>

<app-footer></app-footer>
</ion-content>
