#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

#dataShow{
  overflow-y: auto;
  border-collapse: collapse;
  background-color: orange;
  width: 1110px;
  height: 200px;
}

#button{
  text-align: center;
  background-color: lightblue;
  border: none;
  text-decoration: none;
  cursor: pointer;
}

#agent{
  text-align: center;
  background-color: blue;
}

ion-content{

  --ion-background-color:#fccf0a;
}

input[type=text] {
  width: 25%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid blueviolet;
  background-color: blue;
}

.DeleteDiv {
  border: 2px outset red;
  background-color: lightcoral;    
  text-align: center;
}

input[type=number] {
  width: 25%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid blueviolet;
  background-color: lightcoral;
}
  
hr.hr{
  border: 1px solid black;
}